.page-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  border-bottom: 1px solid #0f2027;
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

.new-list-container {
  width: 80%;
}

.home-image {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100vh;
}

.new-list-container > a > div {
  background-color: rgb(255, 255, 255, 0.5);
}

.list-container > a > div {
  background-color: rgb(255, 255, 255, 0.5);
}
